<div class="card">
    <div class="card-header">
        <h1> {{ pedido.nombreCliente }} </h1>
        <p> {{ pedido.fechaHora | date:'short' }} </p>
    </div>

    <div class="card-body">
      <h5 class="card-title"> Cuenta total: <span class="badge badge-info">  {{ pedido.cuentaTotal }} bs </span> </h5>
        <hr>
      <p class="card-text" *ngFor="let orden of pedido.orden" >
        <span [ngClass]="{'text-danger': orden.producto === 'Pizzas',
                            'text-success': orden.producto === 'Alitas',
                            'text-secondary': orden.producto === 'Refrescos',
                            'text-primary': orden.producto === 'Helados'
                        }"> 
                    {{ orden.cantidad }}
        </span>

        <span class="badge" [ngClass]="{'badge-danger': orden.producto === 'Pizzas',
                                                'badge-success': orden.producto === 'Alitas',
                                                'badge-secondary': orden.producto === 'Refrescos',
                                                'badge-primary': orden.producto === 'Helados'
                                                }" > 
                    {{ orden.producto }} 
        </span> 

        <span class="font-weight-bolder" [ngClass]="{'text-danger': orden.producto === 'Pizzas',
                            'text-success': orden.producto === 'Alitas',
                            'text-secondary': orden.producto === 'Refrescos',
                            'text-primary': orden.producto === 'Helados'
                        }"> 
                    {{ orden.tamano }}
        </span>

        <span class="font-weight-lighter" [ngClass]="{'text-danger': orden.producto === 'Pizzas',
                            'text-success': orden.producto === 'Alitas',
                            'text-secondary': orden.producto === 'Refrescos',
                            'text-primary': orden.producto === 'Helados'
                        }"> 
                    {{ orden.descripcion}}
        </span>
      </p>

      <hr>

      <a class="text-white btn btn-danger" (click)="atras()" >Cancelar</a>
    </div>

</div>