<div  class="card espacio" *ngFor="let pedido of pedidos" [ngClass]="{'text-white bg-warning': !pedido.estado, 'text-dark bg-light': pedido.estado }" >
    <h5 class="card-header">Nombre: <span class="font-italic"> {{ pedido.nombreCliente }} </span> 
        <small class="float-right text-dark " > {{ pedido.fechaHora | date:'shortTime' }} </small> 
    </h5>
    
    <div class="elementos" (click)="cambiarEstado()" >
        <!-- sentencia for de los pedidos recibidos del servidor -->
        <div class="card-body row" *ngFor="let orden of pedido.orden"  >
            <div class="col-8"   >
                <p class="card-text text-dark">
                    <span [ngClass]="{'text-danger': orden.producto == 'Pizzas', 
                                        'text-success': orden.producto == 'Alitas',
                                        'text-secondary': orden.producto == 'Refrescos',
                                        'text-primary': orden.producto == 'Helados'}" > {{ orden.cantidad }} </span>
                    <span class="badge" [ngClass]="{'badge-danger': orden.producto == 'Pizzas', 
                                      'badge-success': orden.producto == 'Alitas',
                                      'badge-secondary': orden.producto == 'Refrescos',
                                      'badge-primary': orden.producto == 'Helados'}" > {{ orden.producto }} </span>
    
                    <span class="text-primary" *ngIf="orden.producto == 'Helados' " >  {{ orden.tamano }} {{ orden.descripcion }} </span>  
                    <span class="text-secondary" *ngIf="orden.producto == 'Refrescos'" > {{ orden.descripcion }} </span>  
                    <span class="text-danger" *ngIf="orden.producto == 'Pizzas'" > {{ orden.tamano }} {{ orden.descripcion }} </span>  
                    <span class="text-success" *ngIf="orden.producto == 'Alitas'" > {{ orden.tamano }} {{ orden.descripcion }} </span>  
                </p>
            </div>
            <div class="col-4">
                
            </div>
        </div>
    </div>
</div>