<div class="row">
    <div class="card col bg-danger">
        <div class="card-body bg-danger text-light">
            <h2 class="card-title text-warning">Productos</h2>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item bg-danger">
                    <a class="nav-brand text-light"  (click)="mostrarPizzas()" >Pizzas</a>
                    <img src="../../../assets/img/pizza-slice.png" width="30" height="30" class="float-right">
                </li>
                <li class="list-group-item bg-danger">
                    <a class="nav-brand text-light"  (click)="mostrarAlitas()" >Alitas</a> 
                    <img src="../../../assets/img/chicken.png" width="30" height="30" class="float-right">
                </li>
                <li class="list-group-item bg-danger">
                    <a class="nav-brand text-light"  (click)="mostrarRefrescos()" >Refrescos</a> 
                    <img src="../../../assets/img/can.png" width="30" height="30" class="float-right">
                </li>
                <li class="list-group-item bg-danger">
                    <a class="nav-brand text-light"  (click)="mostrarHelados()" >Helados</a> 
                    <img src="../../../assets/img/ice-cream.png" width="30" height="30" class="float-right">
                </li>
            </ul>
        </div>
    </div>
    <div class="card bg-warning text-light col-6 ">
        <app-orden [ordenes]="ordenes" [cuenta]="cuenta"></app-orden>
    </div>
    <div class="card bg-info col">
        <app-pizzas *ngIf="mPizzas" #childPizzas (enviarOrden)="recibirOrden($event)" ></app-pizzas>
        <app-alitas *ngIf="mAlitas" #childAlitas (enviarOrden)="recibirOrden($event)" ></app-alitas>
        <app-refrescos *ngIf="mRefrescos" #childRefrescos (enviarOrden)="recibirOrden($event)" ></app-refrescos>
        <app-helados *ngIf="mHelados" #childHelados (enviarOrden)="recibirOrden($event)" ></app-helados>
    </div>
</div>