
<div class="card-body bg-secondary text-light espacio">
    <h2 class="card-title text-light"> {{ productoItem.producto }} </h2>
       
    <!-- boton dropdown para cada uno de los productos -->
    <div class="row espacio">
        <div class="col">
            <form class="was-validated">
                <div class="dropdown" *ngIf="productoItem.producto == 'Pizzas'">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tamaño: {{ tam }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <a class="dropdown-item" *ngFor="let pizza of tamanoPizza; let i = index" (click)="getTamano(tamanoPizza[i])"  > {{ tamanoPizza[i] }} </a>
                    </div>
                </div>

                <div class="dropdown" *ngIf="productoItem.producto == 'Alitas'">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tamaño: {{ tam }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="productoItem.producto == 'Alitas'">
                        <a class="dropdown-item" *ngFor="let alita of tamanoAlitas; let i = index" (click)="getTamano(tamanoAlitas[i])" > {{ tamanoAlitas[i] }} </a>
                    </div>
                    
                </div>
               
                <div class="dropdown" *ngIf="productoItem.producto == 'Helados'">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tamaño: {{ tam }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="productoItem.producto == 'Helados'">
                        <a class="dropdown-item" *ngFor="let helado of tamanoHelados; let i = index" (click)="getTamano(tamanoHelados[i])" > {{ tamanoHelados[i] }} </a>
                    </div>
                </div>

            </form>
        </div>
        <div class="col" *ngIf="productoItem.producto == 'Refrescos' || productoItem.producto == 'Helados'" >
            <input type="number" class=" float-right form-control" placeholder="Cantidad" [ngModel]="cant" (ngModelChange)="getCantidad($event)" >
        </div>
    </div>
    <hr>

    <!-- campo de la descripcion de la orden a realizar -->
    <div class="row" *ngIf="productoItem.producto == 'Pizzas' || productoItem.producto == 'Alitas' || productoItem.producto == 'Refrescos' ">
        <div class="col">
            <div class="mb-3">
                <textarea class="form-control" id="validationTextarea" placeholder="Descripcion del producto" [ngModel]="des" (ngModelChange)="getDescripcion($event)" required></textarea>
                <div class="invalid-feedback">
                    Ingrese una descripcion del producto
                </div>
            </div>
        </div>
    </div>
        
    <!-- botones de cancelar y agregar orden -->
    <hr>
    <div class="row">
        <div class="col-8">
            <button type="button" class="btn btn-dark" [routerLink]="['#']" >Cancelar</button>
            <button type="submit" class="btn btn-info espacioBoton" (click)="agregarOrden()" >Agregar orden +</button>
        </div>
        <div class="col-4">
            <h5> <span class="badge badge-dark" >Precio: 95 bs</span> </h5>
        </div>
    </div>

</div>








