
<!-- <div class="card-body bg-secondary text-light espacio"> -->
    <h2 class="card-title text-light"> Refrescos </h2>
    <hr>

    <!-- campo de la descripcion de la orden a realizar -->
    <div class="row" >
        <div class="col">
            <div class="mb-3">
                <textarea class="form-control" id="validationTextarea" placeholder="Descripcion del producto" [ngModel]="des" (ngModelChange)="getDescripcion($event)" required></textarea>
                <div class="invalid-feedback">
                    Ingrese una descripcion del producto
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" >
            <input type="number" class=" float-right form-control" placeholder="Cantidad" [ngModel]="cant" (ngModelChange)="getCantidad($event)" >
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col" >
            <input type="number" class=" float-right form-control" placeholder="Precio" [ngModel]="precio" (ngModelChange)="getPrecio($event)" >
        </div>
    </div>
        
    <!-- botones de cancelar y agregar orden -->
    <hr>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-danger" [routerLink]="['#']" >Cancelar</button>
            <button type="submit" class="btn btn-primary espacioBoton" (click)="agregarOrden()" >Agregar</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h5> <span class="badge badge-success" >Precio: {{ costo }}bs </span> </h5>
        </div>
    </div>
